@model IList<Nop.Web.Models.Catalog.GridItemModel>

@{
    //resources
    Html.AppendCssFileParts("~/Content/Masonry/masonry.css");
 
    Html.AppendScriptParts("~/Scripts/AnimOnScroll.js");
    Html.AppendScriptParts("~/Scripts/imagesloaded.js");
    Html.AppendScriptParts("~/Scripts/EventEmitter.min.js");
    Html.AppendScriptParts("~/Scripts/masonry.pkgd.min.js");
    Html.AppendScriptParts("~/Scripts/classie.js");
}

<div class="container">
    <!-- Top Navigation -->
    <ul class="grid effect-2" id="grid">
        @foreach (var item in Model)
        {
            <li>
                <div class="product-item" data-productid="@item.Id">
                    <div class="picture">
                        <a href="@Url.RouteUrl("Product", new { SeName = @item.SeName })" title="@item.DefaultPictureModel.Title">
                            <img alt="@item.DefaultPictureModel.AlternateText" src="@item.DefaultPictureModel.ImageUrl" title="@item.DefaultPictureModel.Title" />
                        </a>
                    </div>
                    <h2>@item.Name</h2>
                    <div class="product-title">
                        <a href="@Url.RouteUrl("Product", new { SeName = @item.SeName })">@item.Name</a>
                    </div>
                    <div class="description">
                        @Html.Raw(@item.ShortDescription)
                    </div>
                </div>
            </li>
        }        

        @*<li><a href="http://drbl.in/fWMM"><img src="http://tympanus.net/Development/GridLoadingEffects/images/1.jpg"></a></li>
        <li><a href="http://drbl.in/fWPV"><img src="http://tympanus.net/Development/GridLoadingEffects/images/3.jpg"></a></li>
        <li><a href="http://drbl.in/fWMT"><img src="http://tympanus.net/Development/GridLoadingEffects/images/4.jpg"></a></li>
        <li><a href="http://drbl.in/fQdt"><img src="http://tympanus.net/Development/GridLoadingEffects/images/12.png"></a></li>
        <li><a href="http://drbl.in/fHaa"><img src="http://tympanus.net/Development/GridLoadingEffects/images/13.png"></a></li>
        <li><a href="http://drbl.in/gXMo"><img src="http://tympanus.net/Development/GridLoadingEffects/images/10.png"></a></li>
        <li><a href="http://drbl.in/gXMn"><img src="http://tympanus.net/Development/GridLoadingEffects/images/9.jpg"></a></li>
        <li><a href="http://drbl.in/fzYo"><img src="http://tympanus.net/Development/GridLoadingEffects/images/2.jpg"></a></li>
        <li><a href="http://drbl.in/fARU"><img src="http://tympanus.net/Development/GridLoadingEffects/images/14.png"></a></li>
        <li><a href="http://drbl.in/fGhI"><img src="http://tympanus.net/Development/GridLoadingEffects/images/5.jpg"></a></li>
        <li><a href="http://drbl.in/fKCf"><img src="http://tympanus.net/Development/GridLoadingEffects/images/6.jpg"></a></li>
        <li><a href="http://drbl.in/fLBG"><img src="http://tympanus.net/Development/GridLoadingEffects/images/7.jpg"></a></li>
        <li><a href="http://drbl.in/fPEY"><img src="http://tympanus.net/Development/GridLoadingEffects/images/8.jpg"></a></li>
        <li><a href="http://drbl.in/fWwG"><img src="http://tympanus.net/Development/GridLoadingEffects/images/9.jpg"></a></li>
        <li><a href="http://drbl.in/fQdt"><img src="http://tympanus.net/Development/GridLoadingEffects/images/12.png"></a></li>
        <li><a href="http://drbl.in/fHaa"><img src="http://tympanus.net/Development/GridLoadingEffects/images/13.png"></a></li>
        <li><a href="http://drbl.in/gXMo"><img src="http://tympanus.net/Development/GridLoadingEffects/images/10.png"></a></li>
        <li><a href="http://drbl.in/gXMn"><img src="http://tympanus.net/Development/GridLoadingEffects/images/11.png"></a></li>
        <li><a href="http://drbl.in/fzYo"><img src="http://tympanus.net/Development/GridLoadingEffects/images/2.jpg"></a></li>
        <li><a href="http://drbl.in/fARU"><img src="http://tympanus.net/Development/GridLoadingEffects/images/14.png"></a></li>
        <li><a href="http://drbl.in/fWMM"><img src="http://tympanus.net/Development/GridLoadingEffects/images/1.jpg"></a></li>
        <li><a href="http://drbl.in/fWPV"><img src="http://tympanus.net/Development/GridLoadingEffects/images/3.jpg"></a></li>
        <li><a href="http://drbl.in/fWMT"><img src="http://tympanus.net/Development/GridLoadingEffects/images/4.jpg"></a></li>
        <li><a href="http://drbl.in/fGhI"><img src="http://tympanus.net/Development/GridLoadingEffects/images/5.jpg"></a></li>*@    
    </ul>
</div>
<script>
    new AnimOnScroll(document.getElementById('grid'), {
        minDuration: 0.4,
        maxDuration: 0.7,
        viewportFactor: 0.2
    });
</script>