@model IList<Nop.Web.Models.Catalog.GridItemModel>

@{
    //resources
    Html.AppendCssFileParts("~/Content/Masonry/masonry.css");
    Html.AddCssFileParts("~/Content/fancybox/jquery.fancybox-1.3.4.css");

    Html.AppendScriptParts("~/Scripts/jquery.fancybox-1.3.4.pack.js");
    Html.AppendScriptParts("~/Scripts/AnimOnScroll.js");
    Html.AppendScriptParts("~/Scripts/imagesloaded.js");
    Html.AppendScriptParts("~/Scripts/EventEmitter.min.js");
    Html.AppendScriptParts("~/Scripts/masonry.pkgd.min.js");
    Html.AppendScriptParts("~/Scripts/classie.js");
}
<div class="feature-products container">
    <!-- Top Navigation -->
    <ul class="grid effect-2" id="grid">
        @foreach (var item in Model)
        {
            <li>
                <div class="product-item" data-productid="@item.Id">
                    <div class="picture">
                        <a class="product-popup" href="@Url.RouteUrl("Product", new { SeName = @item.SeName })" title="@item.DefaultPictureModel.Title">
                            <img alt="@item.DefaultPictureModel.AlternateText" src="@item.DefaultPictureModel.ImageUrl" title="@item.DefaultPictureModel.Title" />
                        </a>
                    </div>
                    @*<h2>@item.Name</h2>*@
                    <div class="product-title">
                        <a href="@Url.RouteUrl("Product", new { SeName = @item.SeName })">@item.Name</a>
                    </div>
                    <div class="description">
                        @Html.Raw(@item.ShortDescription)
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
<script>
    new AnimOnScroll(document.getElementById('grid'), {
        minDuration: 0.4,
        maxDuration: 0.7,
        viewportFactor: 0.2
    });

    $(document).ready(function () {

        /* Apply fancybox to multiple items */
        $("a.product-popup").fancybox({
            'transitionIn': 'elastic',
            'transitionOut': 'elastic',
            'speedIn': 600,
            'speedOut': 200,
            'overlayShow': true,
            'autoScale': true,
            'type': 'iframe',
            'width': 600,
            'height': 1000,
            'padding' : 14,
            'autoDimensions': true,
            'titleShow': false,       
            'onComplete': function () {
                $('#fancybox-frame').load(function () { // wait for frame to load and then gets it's height
                    $('#fancybox-content').height($(this).contents().find('body').height() + 30);
                });
            }
        });
    });

</script>
